{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'w3.css' %}">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/lika.png' %}">
    <title>Login</title>
</head>
<body>
<div class="w3-container">
    <div class="w3-middle">
        <div class="w3-content login-card">

            <div class="w3-display-middle">
                <div class="w3-container">

                    <div class="w3-row w3-section">
                        <img src="/static/img/lika.png" class="logo" alt="lika">
                    </div>

                    <div class="w3-row w3-section">
                        <div class="w3-panel w3-card-white w3-display-middle">
                            <form action="" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button class="w3-button w3-blue" type="submit">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


