{% load staticfiles %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'w3.css' %}">
    <link rel="stylesheet" href="{% static 'signup.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/lika.png' %}">
    <title>Sign Up</title>
</head>
<body>

<div class="w3-container">

</div>

<div class="w3-row-padding">
    <div class="w3-half">
        <label>First Name</label>
        <input class="w3-input w3-border" type="text" placeholder="">
    </div>
    <div class="w3-half">
        <label>Last Name</label>
        <input class="w3-input w3-border" type="text" placeholder="">
    </div>
    <div class="w3-half">
        <label>Email</label>
        <input class="w3-input w3-border" type="text" placeholder="">
    </div>
    <div class="w3-half">
        <label>Confirm Email</label>
        <input class="w3-input w3-border" type="text" placeholder="">
    </div>
    <div class="w3-half">
        <label>Password</label>
        <input class="w3-input w3-border" type="text" placeholder="">
    </div>
    <div class="w3-half">
        <label>Confirm Password</label>
        <input class="w3-input w3-border" type="text" placeholder="">
    </div>
</div>

</body>
</html>
