{% extends "base.html" %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'w3.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/lika.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Customer</title>
</head>
<body>

{% block content %}

    <div class="w3-row">
        <div class="header">
            <h1>Krijo Kliente</h1>
        </div>
    </div>

    <div class="w3-middle">
        <div class="w3-content login-card">
    <div class="w3-container">
        <div class="w3-row w3-section">
            <div class="w3-panel w3-card-blue w3-display-middle">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="w3-container">
                        <div class="w3-row w3-section"></div>
                    </div>
                    <button type="submit" class="w3-button w3-green">Krijo</button>
                </form>
                {#            <div class="w3-panel w3-card-white w3-display-middle"></div>#}
            </div>
        </div>
    </div>



{% endblock %}

</body>
</html>


