{% extends "base.html" %}

{% load staticfiles %}

<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'w3.css' %}">
    <link rel="stylesheet" href="{% static 'add.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/lika.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Customer</title>
</head>
<body>

{% block content %}

    <div class="w3-row">
        <div class="header">
            <h1>Krijo Kliente</h1>
        </div>
    </div>


    <div class="w3-row-padding">
        <div class="w3-half">
            <div class="w3-left">
                <div class="w3-container">
                    <div class="w3-row w3-section">
                        <div class="w3-card-white" style="width:50%">
                            <div class="w3-container w3-center">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <br>
                                    <button type="submit" class="w3-button w3-green" style="width: 165%">Krijo</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="w3-half w3-display-middle">
     <img src="/static/img/lika.png" class="logo" alt="lika">

    </div>

{% endblock %}

</body>
</html>


