{% extends "base.html" %}
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'w3.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/lika.png' %}">
    <title>Login</title>
</head>
{% block title %}Curiosities | List{% endblock %}

{% block content %}

    <div class="w3-row">
        <div class="header">
            <h1>Lista e Klienteve</h1>
        </div>
    </div>

    <div class="w3-container">
        <div class="w3-row w3-section">
            <a class="w3-button w3-right w3-green" href="{% url 'customer:add' %}">Shto Kliente</a>
        </div>


        <div class="w3-row w3-section">
            <table class="w3-table-all w3-hoverable w3-border">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Work</th>
                    <th>Position</th>
                </tr>
                </thead>
                <tbody>
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer.first_name }}</td>
                        <td>{{ customer.last_name }}</td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.phone_number }}</td>
                        <td>{{ customer.address }}</td>
                        <td>{{ customer.work }}</td>
                        <td>{{ customer.position }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}