
body {
    background-color: #3c4c67;
    color: #ffffff;
}

.login-card .logo {
    width: 100%;
    position: relative;
    bottom: 160px;

}

.w3-button {
    border: none;
    display: inline-block;
    padding: 5px 100px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.w3-input {
    padding: 4px;
    width: 100%;
}