{% load staticfiles %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'w3.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/lika.png' %}">
    <title>{% block title %}Curiosities{% endblock %}</title>
</head>
<body>


<div class="w3-bar w3-black">
    <a href="/" class="w3-bar-item w3-button">Home</a>
    <a href="{% url 'customer:list' %}" class="w3-bar-item w3-button">Customer</a>
    <a href="#" class="w3-bar-item w3-button">Blog</a>
    <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-right">Logout</a>
</div>

{% block content %}

{% endblock %}

</body>
</html>
