{% extends 'base.html' %}
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'w3.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/lika.png' %}">
    <title>Login</title>
</head>
{% block title %}Curiosities | Home{% endblock %}
<body>


{% block content %}
    {% if user.is_authenticated %}
         <div class="w3-container w3-display-middle">
             <h1>Welcome {{ user.username }}!</h1>
         </div>

    {% else %}

    {% endif %}
{% endblock %}

</body>
</html>